---
import NanamiAvatar from "../components/NanamiAvatar.astro"
import SocialProfileLink from "../components/SocialProfileLink.astro"
import ThemeToggle from "../components/ThemeToggle.astro"
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<DefaultLayout>
  <div class="w-screen flex justify-center h-dvh lg:items-center" slot="body">
    <div class="w-full flex shrink-0 flex-col items-center gap-4 p-12 lg:flex-row">
      <div class="flex lg:w-1/2 lg:justify-end lg:pr-8">
        <NanamiAvatar />
      </div>
      <div class="flex flex-col items-start justify-center gap-row-4 lg:w-1/2">
        <h1 class="text-4xl text-black font-bold font-mono dark:text-white">
          &lt;Nanami Nakano/&gt;
        </h1>
        <SocialProfileLink />
        <p class="text-lg text-black dark:text-white">
          A few word about you.
        </p>
      </div>
    </div>
    <div class="fixed bottom-8 right-8">
      <ThemeToggle />
    </div>
  </div>
</DefaultLayout>

<style>
    h1 {
        font-family: monaco, Consolas, "Lucida Console", monospace;
    }
</style>
