---
import { Image } from "astro:assets"
import Avatar from "../images/avatar.jpg"
---

<div class="w-80 lg:w-120">
    <Image src={Avatar} alt="Nanami's avatar" class="h-auto w-full rounded-full" />
</div>
