---
import { Image } from "astro:assets"
import Avatar from "../images/avatar.jpeg"
---

<div class="w-80 lg:w-120">
  <Image src={Avatar} alt="Nanami's avatar" class="rounded-full w-full h-auto" />
</div>
