---
import { Github, Mastodon, Steam, X } from "simple-icons-astro"
---

<div class="flex gap-col-2">
    <a
      href="https://github.com/NanamiNakano"
      target="_blank"
      class="h-12 w-12 flex items-center justify-center rounded-full bg-gray-8 p-2 text-white"
    >
        <Github />
    </a>
    <a
      href="https://mas.to/@thynanami"
      target="_blank"
      class="h-12 w-12 flex items-center justify-center rounded-full bg-violet-8 p-2 text-white"
    >
        <Mastodon />
    </a>
    <a
      href="https://x.com/thynanami"
      target="_blank"
      class="h-12 w-12 flex items-center justify-center rounded-full bg-black p-2 text-white"
    >
        <X />
    </a>
    <a
      href="https://steamcommunity.com/id/thynanami"
      target="_blank"
      class="h-12 w-12 flex items-center justify-center rounded-full bg-gray-8 p-2 text-white"
    >
        <Steam />
    </a>
</div>
