---
import { Github, Mastodon, Steam, X } from "simple-icons-astro"
---

<div class="flex gap-col-2">
  <a
    href="https://github.com/NanamiNakano"
    target="_blank"
    class="rounded-full bg-gray-8 text-white p-2 flex items-center justify-center w-12 h-12"
  >
    <Github />
  </a>
  <a
    href="https://mas.to/@thynanami"
    target="_blank"
    class="rounded-full bg-violet-8 text-white p-2 flex items-center justify-center w-12 h-12"
  >
    <Mastodon />
  </a>
  <a
    href="https://x.com/thynanami"
    target="_blank"
    class="rounded-full bg-black text-white p-2 flex items-center justify-center w-12 h-12"
  >
    <X />
  </a>
  <a
    href="https://steamcommunity.com/id/thynanami"
    target="_blank"
    class="rounded-full bg-gray-8 text-white p-2 flex items-center justify-center w-12 h-12"
  >
    <Steam />
  </a>
</div>
