---
import { SEO } from "astro-seo"

const { title } = Astro.props
---

<html lang="en">
<head>
  <SEO
    title={title}
    titleTemplate="%s | In Chaos"
    titleDefault="In Chaos"
  />
</head>
<body>
<slot name="body" />
</body>
</html>
